@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

html {
  min-height: 100vh;
  background-color: #cbe4de;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #2c3333;
  font-family: 'Carrois Gothic SC', sans-serif;
}
